<template>
  <div>
    <html-editor
      v-model="html"
      :uploadImageAPI="'https://localhost:44396/api/editor/upload/image'"
      :uploadVideoAPI="'https://localhost:44396/api/editor/upload/video'"
    />
  </div>
</template>

<script>
import HtmlEditor from '../components/HtmlEditor.vue'
export default {
  components: { HtmlEditor },
  data() {
    return {
      html:
        '<p>this is <a href="https://google.co.th">test</a> text</p><p><img src="https://lh3.googleusercontent.com/6E7e9jtTqKi16GGXEKfnVjHtdfQeXkIz6vvtiUE8EeArAsmFav_kJFJ8eEzUwHKpqjZGnrGoyYhGe6baG4AMKuTDRFIyJqa6pVM=w1200-h630-rj-pp-e365" style="width: 200px; height: auto;"><br></p>'
    }
  }
}
</script>
