<template>
  <div
    class="vue2-html-editor"
    :id="componentId"
    :class="[componentId, allowResize ? 'vue2-html-editor--can-resize' : '']"
    :style="{ height: height }"
  >
    <div
      class="vue2-html-editor__toolbar"
      :class="{ disabled: !isCurrentEditorActive }"
    >
      <div
        class="vue2-html-editor__toolbar__line"
        :class="{ disabled: !isCurrentEditorActive }"
      >
        <button @click="execCommand('bold')" title="Bold">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.25,11.8h0A3.68,3.68,0,0,0,17,9a3.93,3.93,0,0,0-3.86-4H6.65V19h7a3.74,3.74,0,0,0,3.7-3.78V15.1A3.64,3.64,0,0,0,15.25,11.8ZM8.65,7h4.2a2.09,2.09,0,0,1,2,1.3,2.09,2.09,0,0,1-1.37,2.61,2.23,2.23,0,0,1-.63.09H8.65Zm4.6,10H8.65V13h4.6a2.09,2.09,0,0,1,2,1.3,2.09,2.09,0,0,1-1.37,2.61A2.23,2.23,0,0,1,13.25,17Z"
            ></path>
          </svg>
        </button>

        <button @click="execCommand('italic')" title="Italic">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.76,9h2l-2.2,10h-2Zm1.68-4a1,1,0,1,0,1,1,1,1,0,0,0-1-1Z"
            ></path>
          </svg>
        </button>

        <button @click="execCommand('underline')" title="Underline">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19,20v2H5V20Zm-3-6.785a4,4,0,0,1-5.74,3.4A3.75,3.75,0,0,1,8,13.085V5.005H6v8.21a6,6,0,0,0,8,5.44,5.851,5.851,0,0,0,4-5.65v-8H16ZM16,5v0h2V5ZM8,5H6v0H8Z"
            ></path>
          </svg>
        </button>

        <button
          @click="execCommand('strikeThrough')"
          title="Strike Through"
          class="has-separator"
        >
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3,12.20294H21v1.5H16.63422a3.59782,3.59782,0,0,1,.34942,1.5929,3.252,3.252,0,0,1-1.31427,2.6997A5.55082,5.55082,0,0,1,12.20251,19a6.4421,6.4421,0,0,1-2.62335-.539,4.46335,4.46335,0,0,1-1.89264-1.48816,3.668,3.668,0,0,1-.67016-2.15546V14.704h.28723v-.0011h.34149v.0011H9.02v.11334a2.18275,2.18275,0,0,0,.85413,1.83069,3.69,3.69,0,0,0,2.32836.67926,3.38778,3.38778,0,0,0,2.07666-.5462,1.73346,1.73346,0,0,0,.7013-1.46655,1.69749,1.69749,0,0,0-.647-1.43439,3.00525,3.00525,0,0,0-.27491-.17725H3ZM16.34473,7.05981A4.18163,4.18163,0,0,0,14.6236,5.5462,5.627,5.627,0,0,0,12.11072,5,5.16083,5.16083,0,0,0,8.74719,6.06213,3.36315,3.36315,0,0,0,7.44006,8.76855a3.22923,3.22923,0,0,0,.3216,1.42786h2.59668c-.08338-.05365-.18537-.10577-.25269-.16064a1.60652,1.60652,0,0,1-.65283-1.30036,1.79843,1.79843,0,0,1,.68842-1.5108,3.12971,3.12971,0,0,1,1.96948-.55243,3.04779,3.04779,0,0,1,2.106.6687,2.35066,2.35066,0,0,1,.736,1.83258v.11341h2.00317V9.17346A3.90013,3.90013,0,0,0,16.34473,7.05981Z"
            ></path>
          </svg>
        </button>

        <button @click="execCommand('justifyLeft')" title="Align Left">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M3,18h6v-2H3V18z M3,11v2h12v-2H3z M3,6v2h18V6H3z"></path>
          </svg>
        </button>

        <button @click="execCommand('justifyCenter')" title="Align Center">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M9,18h6v-2H9V18z M6,11v2h12v-2H6z M3,6v2h18V6H3z"></path>
          </svg>
        </button>

        <button @click="execCommand('justifyRight')" title="Align Right">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M15,18h6v-2h-6V18z M9,11v2h12v-2H9z M3,6v2h18V6H3z"></path>
          </svg>
        </button>

        <button @click="execCommand('indent')" title="Increase Indent">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3,9v6l3-3L3,9z M3,19h18v-2H3V19z M3,7h18V5H3V7z M9,11h12V9H9V11z M9,15h12v-2H9V15z"
            ></path>
          </svg>
        </button>

        <button @click="execCommand('outdent')" title="Decrease Indent">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3,12l3,3V9L3,12z M3,19h18v-2H3V19z M3,7h18V5H3V7z M9,11h12V9H9V11z M9,15h12v-2H9V15z"
            ></path>
          </svg>
        </button>

        <button @click="execCommand('insertOrderedList')" title="Ordered List">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.5,16h2v.5h-1v1h1V18h-2v1h3V15h-3Zm1-7h1V5h-2V6h1Zm-1,2H4.3L2.5,13.1V14h3V13H3.7l1.8-2.1V10h-3Zm5-5V8h14V6Zm0,12h14V16H7.5Zm0-5h14V11H7.5Z"
            ></path>
          </svg>
        </button>

        <button
          @click="execCommand('insertUnorderedList')"
          title="Unordered List"
          class="has-separator"
        >
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4,10.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S4.8,10.5,4,10.5z M4,5.5C3.2,5.5,2.5,6.2,2.5,7  S3.2,8.5,4,8.5S5.5,7.8,5.5,7S4.8,5.5,4,5.5z M4,15.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S4.8,15.5,4,15.5z   M7.5,6v2h14V6H7.5z M7.5,18h14v-2h-14V18z M7.5,13h14v-2h-14V13z"
            ></path>
          </svg>
        </button>

        <button @click="openInsertLinkPopup" title="Link">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11,17H7A5,5,0,0,1,7,7h4V9H7a3,3,0,0,0,0,6h4ZM17,7H13V9h4a3,3,0,0,1,0,6H13v2h4A5,5,0,0,0,17,7Zm-1,4H8v2h8Z"
            ></path>
          </svg>
        </button>

        <button @click="execCommand('unlink')" title="Remove Link">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.4,11l1.6,1.6V11H14.4z M17,7h-4v1.9h4c1.7,0,3.1,1.4,3.1,3.1c0,1.3-0.8,2.4-1.9,2.8l1.4,1.4C21,15.4,22,13.8,22,12  C22,9.2,19.8,7,17,7z M2,4.3l3.1,3.1C3.3,8.1,2,9.9,2,12c0,2.8,2.2,5,5,5h4v-1.9H7c-1.7,0-3.1-1.4-3.1-3.1c0-1.6,1.2-2.9,2.8-3.1  L8.7,11H8v2h2.7l2.3,2.3V17h1.7l4,4l1.4-1.4L3.4,2.9L2,4.3z"
            ></path>
          </svg>
        </button>

        <button @click="openInsertImagePopup" title="Image">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.2,11l3.8,5H6l3-3.9l2.1,2.7L14,11H14.2z M8.5,11c0.8,0,1.5-0.7,1.5-1.5S9.3,8,8.5,8S7,8.7,7,9.5C7,10.3,7.7,11,8.5,11z   M22,6v12c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2h16C21.1,4,22,4.9,22,6z M20,8.8V6H4v12h16V8.8z"
            ></path>
          </svg>
        </button>

        <button
          @click="openInsertVideoPopup"
          title="Video"
          class="has-separator"
        >
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15,8v8H5V8H15m2,2.5V7a1,1,0,0,0-1-1H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V13.5l2.29,2.29A1,1,0,0,0,21,15.08V8.91a1,1,0,0,0-1.71-.71Z"
            ></path>
          </svg>
        </button>

        <button
          @click="toggleHtmlView"
          title="Code View"
          :class="{ active: currentMode === 'html' }"
        >
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.4,16.6,4.8,12,9.4,7.4,8,6,2,12l6,6Zm5.2,0L19.2,12,14.6,7.4,16,6l6,6-6,6Z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="vue2-html-editor__content-area">
      <div
        v-show="currentMode === 'visual'"
        ref="visualView"
        v-html="htmlContent"
        @input="onVisualViewInput"
        @click="handleClick"
        @focus="
          isVisualViewFocus = true
          setCurrentEditorActive()
        "
        @blur="isVisualViewFocus = false"
        class="vue2-html-editor__content-area--visual-view"
        contenteditable="true"
        autocomplete="off"
        autocorrect="off"
        autocapiatlise="off"
        spellcheck="false"
      ></div>
      <div
        v-show="currentMode === 'html'"
        contenteditable="false"
        class="vue2-html-editor__content-area--html-view"
      >
        <textarea
          ref="htmlView"
          v-model="htmlContent"
          @input="onHtmlViewInput"
        ></textarea>
      </div>
    </div>

    <div
      class="vue2-html-editor__popup vue2-html-editor__popup--insert-link"
      :class="{ opened: showInsertLinkPopup }"
    >
      <div class="popup" :style="{ maxHeight: height }">
        <div class="popup__title">
          Link
        </div>
        <div class="popup__body">
          <div class="popup__body__form">
            <div class="popup__body__form--row">
              <div class="popup__body__form--col-3">
                <div class="form-field--text">
                  <label>URL</label>
                  <input type="text" v-model="insertLinkFormData.url.value" />
                  <div class="form-field__message">
                    {{ insertLinkFormData.url.message }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup__button">
          <button class="popup__button--cancel" @click="cancelInsertLinkPopup">
            {{ cancelText }}
          </button>
          <button class="popup__button--ok" @click="submitInsertLinkForm">
            {{ okText }}
          </button>
        </div>
      </div>
    </div>

    <div
      class="vue2-html-editor__popup vue2-html-editor__popup--insert-image"
      :class="{ opened: showInsertImagePopup }"
    >
      <div
        class="popup"
        :class="{ disabled: insertImageFormData.status.uploading }"
        :style="{ maxHeight: height }"
      >
        <div class="popup__title">
          Image
        </div>
        <div class="popup__body">
          <div class="popup__body__form">
            <div class="popup__body__form--row">
              <div class="popup__body__form--col-3">
                <div class="form-field--image">
                  <div class="form-field--image__control">
                    <div class="form-field--image__control__uploader">
                      <input
                        ref="inputFileImage"
                        type="file"
                        @change="uploadImageFile"
                      />
                      <button @click="$refs.inputFileImage.click()">
                        Upload Image
                      </button>
                      <div class="form-field--image__control__notice">
                        Max file size
                        {{
                          (maxImageUploadSize / 1024 / 1024).toFixed(2)
                        }}MB<br />Use above button to start upload
                      </div>
                    </div>
                    <div class="form-field--image__control__previewer">
                      <div class="form-field--image__control__image-container">
                        <a
                          v-if="insertImageFormData.src.value"
                          :href="insertImageFormData.src.value"
                          target="_blank"
                        >
                          <img :src="insertImageFormData.src.value" />
                        </a>
                      </div>
                      <div class="form-field--image__control__progress">
                        <div
                          class="form-field--image__control__progress__runner"
                          :style="
                            `width: ${insertImageFormData.status.progress}%`
                          "
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-field__message">
                    {{ insertImageFormData.file.message }}
                  </div>
                </div>
                <div class="form-field--text">
                  <label>Image URL</label>
                  <input type="text" v-model="insertImageFormData.src.value" />
                  <div class="form-field__message">
                    {{ insertImageFormData.src.message }}
                  </div>
                </div>
              </div>
            </div>
            <div class="popup__body__form--row">
              <div class="popup__body__form--col-2">
                <div class="form-field--text">
                  <label>Width</label>
                  <input
                    type="text"
                    v-model="insertImageFormData.width.value"
                  />
                  <div class="form-field__message">
                    {{ insertImageFormData.width.message }}
                  </div>
                </div>
              </div>
              <div class="popup__body__form--col-2">
                <div class="form-field--text">
                  <label>Height</label>
                  <input
                    type="text"
                    v-model="insertImageFormData.height.value"
                  />
                  <div class="form-field__message">
                    {{ insertImageFormData.height.message }}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p style="color:red;font-size:12px;margin-top:-14px">
                *ขนาดรูปภาพ กรุณาระบุหน่วยเป็น px หรือ %
              </p>
            </div>
          </div>
        </div>
        <div class="popup__button">
          <button class="popup__button--cancel" @click="cancelInsertImagePopup">
            {{ cancelText }}
          </button>
          <button class="popup__button--ok" @click="submitInsertImageForm">
            {{ okText }}
          </button>
        </div>
      </div>
    </div>

    <div
      class="vue2-html-editor__popup vue2-html-editor__popup--insert-video"
      :class="{ opened: showInsertVideoPopup }"
    >
      <div
        class="popup"
        :class="{ disabled: insertVideoFormData.status.uploading }"
        :style="{ maxHeight: height }"
      >
        <div class="popup__title">
          Video
        </div>
        <div class="popup__body">
          <div class="popup__body__form">
            <div class="popup__body__form--row">
              <div class="popup__body__form--col-3">
                <div class="form-field--video">
                  <div class="form-field--video__control">
                    <div class="form-field--video__control__uploader">
                      <input
                        ref="inputFileVideo"
                        type="file"
                        @change="uploadVideoFile"
                      />
                      <button @click="$refs.inputFileVideo.click()">
                        Upload Video
                      </button>
                      <div class="form-field--video__control__notice">
                        Max file size
                        {{
                          (maxVideoUploadSize / 1024 / 1024).toFixed(2)
                        }}MB<br />Use above button to start upload
                      </div>
                    </div>
                    <div class="form-field--video__control__previewer">
                      <div class="form-field--video__control__video-container">
                        <a
                          v-if="insertVideoFormData.src.value"
                          :href="insertVideoFormData.src.value"
                          target="_blank"
                        >
                          <video
                            controls
                            :src="insertVideoFormData.src.value"
                          ></video>
                        </a>
                      </div>
                      <div class="form-field--video__control__progress">
                        <div
                          class="form-field--video__control__progress__runner"
                          :style="
                            `width: ${insertVideoFormData.status.progress}%`
                          "
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-field__message">
                    {{ insertVideoFormData.file.message }}
                  </div>
                </div>
                <div class="form-field--text">
                  <label>Video URL</label>
                  <input type="text" v-model="insertVideoFormData.src.value" />
                  <div class="form-field__message">
                    {{ insertVideoFormData.src.message }}
                  </div>
                </div>
              </div>
            </div>
            <div class="popup__body__form--row">
              <div class="popup__body__form--col-2">
                <div class="form-field--text">
                  <label>Width</label>
                  <input
                    type="text"
                    v-model="insertVideoFormData.width.value"
                  />
                  <div class="form-field__message">
                    {{ insertVideoFormData.width.message }}
                  </div>
                </div>
              </div>
              <div class="popup__body__form--col-2">
                <div class="form-field--text">
                  <label>Height</label>
                  <input
                    type="text"
                    v-model="insertVideoFormData.height.value"
                  />
                  <div class="form-field__message">
                    {{ insertVideoFormData.height.message }}
                  </div>
                </div>
              </div>
            </div>
             <div>
              <p style="color:red;font-size:12px;margin-top:-14px">
                *ขนาดวีดีโอ กรุณาระบุหน่วยเป็น px หรือ %
              </p>
            </div>
          </div>
        </div>
        <div class="popup__button">
          <button class="popup__button--cancel" @click="cancelInsertVideoPopup">
            {{ cancelText }}
          </button>
          <button class="popup__button--ok" @click="submitInsertVideoForm">
            {{ okText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import path from 'path'
import axios from 'axios'
const errorMessage = {
  FIELD_CANNOT_EMPTY: 'Field cannot be empty.',
  FILE_SIZE_EXCEED: 'File size exceeded the maximum size.',
  FILE_TYPE_NOT_ALLOW: 'File type not allow.'
}
export default {
  // change this!
  name: 'html-editor',
  props: {
    value: {
      type: String,
      required: false,
      default: () => {
        return '<p><br /></p>'
      }
    },
    localStorageKey: {
      type: String,
      required: false,
      default: () => {
        return 'html-editor:current'
      }
    },
    allowResize: {
      type: Boolean,
      required: false,
      default: () => {
        return true
      }
    },
    authCookieName: {
      type: String,
      required: false,
      default: () => {
        return null
      }
    },
    height: {
      type: String,
      required: false,
      default: () => {
        return '300px'
      }
    },
    okText: {
      type: String,
      required: false,
      default: () => {
        return 'OK'
      }
    },
    cancelText: {
      type: String,
      required: false,
      default: () => {
        return 'Cancel'
      }
    },
    uploadImageApi: {
      type: String,
      required: false,
      default: () => {
        return null
      }
    },
    uploadImageFieldName: {
      type: String,
      required: false,
      default: () => {
        return 'image'
      }
    },
    uploadImageFileType: {
      type: Array,
      required: false,
      default: () => {
        return ['.jpg', '.jpeg', '.bmp', '.png', '.svg']
      }
    },
    maxImageUploadSize: {
      type: Number,
      required: false,
      default: () => {
        return 1 * 1024 * 1024
      }
    },
    uploadVideoApi: {
      type: String,
      required: false,
      default: () => {
        return null
      }
    },
    uploadVideoFieldName: {
      type: String,
      required: false,
      default: () => {
        return 'video'
      }
    },
    uploadVideoFileType: {
      type: Array,
      required: false,
      default: () => {
        return ['.mp4', '.webm']
      }
    },
    maxVideoUploadSize: {
      type: Number,
      required: false,
      default: () => {
        return 10 * 1024 * 1024
      }
    }
  },
  data() {
    return {
      componentId: `vue2-html-editor_${this.makeid(16)}`,
      currentMode: 'visual',
      isCurrentEditorActive: false,
      isVisualViewFocus: false,
      currentSelection: undefined,
      currentSelectedNode: undefined,
      htmlContent: this.value,
      showInsertLinkPopup: false,
      showInsertImagePopup: false,
      showInsertVideoPopup: false,
      insertLinkFormData: {
        url: {
          value: undefined,
          message: undefined
        }
      },
      insertImageFormData: {
        status: {
          uploading: false,
          progress: 0
        },
        file: {
          value: undefined,
          message: undefined
        },
        src: {
          value: undefined,
          message: undefined
        },
        width: {
          value: 'auto',
          message: undefined
        },
        height: {
          value: 'auto',
          message: undefined
        }
      },
      insertVideoFormData: {
        status: {
          uploading: false,
          progress: 0
        },
        file: {
          value: undefined,
          message: undefined
        },
        src: {
          value: undefined,
          message: undefined
        },
        width: {
          value: 'auto',
          message: undefined
        },
        height: {
          value: 'auto',
          message: undefined
        }
      }
    }
  },
  /*computed: {
    htmlContent: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  },*/
  created() {
    this.$root.$on('setCurrentEditorActive', componentId => {
      this.isCurrentEditorActive = this.componentId === componentId
    })
  },
  mounted() {
    //this.htmlContent = this.value
    this.execCommand('defaultParagraphSeparator', 'p')
  },
  methods: {
    makeid(length) {
      let result = []
      const characters =
        'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      let charactersLength = characters.length
      for (let i = 0; i < length; i++) {
        result.push(
          characters.charAt(Math.floor(Math.random() * charactersLength))
        )
      }
      return result.join('')
    },
    getCookie(cname) {
      let name = cname + '='
      let ca = document.cookie.split(';')
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i]
        while (c.charAt(0) == ' ') {
          c = c.substring(1)
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length)
        }
      }
      return ''
    },
    setCurrentEditorActive() {
      this.isCurrentEditorActive = true
      this.$root.$emit('setCurrentEditorActive', this.componentId)
    },
    saveSelection() {
      if (window.getSelection) {
        let sel = window.getSelection()
        if (sel.getRangeAt && sel.rangeCount) {
          let ranges = []
          for (let i = 0, len = sel.rangeCount; i < len; ++i) {
            let range = sel.getRangeAt(i)
            if (range.startContainer.parentNode.id === this.componentId) {
              range = document.createRange()
              range.selectNodeContents(this.$refs.visualView)
              range.collapse(false)
            }
            ranges.push(range)
          }

          return ranges
        }
      } else if (document.selection && document.selection.createRange) {
        return document.selection.createRange()
      }
      return null
    },
    restoreSelection(savedSel) {
      if (savedSel) {
        if (window.getSelection) {
          let sel = window.getSelection()
          sel.removeAllRanges()
          for (let i = 0, len = savedSel.length; i < len; ++i) {
            sel.addRange(savedSel[i])
          }
        } else if (document.selection && savedSel.select) {
          savedSel.select()
        }
      }
    },
    getSelectionStartNode() {
      let node, selection
      if (window.getSelection) {
        // FF3.6, Safari4, Chrome5 (DOM Standards)
        selection = getSelection()
        node = selection.anchorNode
      }
      if (!node && document.selection) {
        // IE
        selection = document.selection
        var range = selection.getRangeAt
          ? selection.getRangeAt(0)
          : selection.createRange()
        node = range.commonAncestorContainer
          ? range.commonAncestorContainer
          : range.parentElement
          ? range.parentElement()
          : range.item(0)
      }
      if (node) {
        return node.nodeName == '#text' ? node.parentNode : node
      }
    },
    setEndOfContenteditable() {
      var range, selection
      if (document.createRange) {
        //Firefox, Chrome, Opera, Safari, IE 9+
        range = document.createRange() //Create a range (a range is a like the selection but invisible)
        range.selectNodeContents(this.$refs.visualView) //Select the entire contents of the element with the range
        range.collapse(false) //collapse the range to the end point. false means collapse to end rather than the start
        selection = window.getSelection() //get the selection object (allows you to change selection)
        selection.removeAllRanges() //remove any selections already made
        selection.addRange(range) //make the range you have just created the visible selection
      } else if (document.selection) {
        //IE 8 and lower
        range = document.body.createTextRange() //Create a range (a range is a like the selection but invisible)
        range.moveToElementText(this.$refs.visualView) //Select the entire contents of the element with the range
        range.collapse(false) //collapse the range to the end point. false means collapse to end rather than the start
        range.select() //Select the range (make it the visible selection
      }
    },
    execCommand(command, arg = null) {
      document.execCommand(command, false, arg)
    },
    onVisualViewInput(e) {
      this.$emit('input', e.target.innerHTML)
    },
    onHtmlViewInput() {
      this.$emit('input', this.htmlContent)
    },
    handleClick(e) {
      if (e.target.matches('img')) {
        this.currentSelectedNode = e.target
        this.openModifyImagePopup(e.target)
      } else if (e.target.matches('video')) {
        this.currentSelectedNode = e.target
        this.openModifyVideoPopup(e.target)
      }
    },

    // Switch Mode
    toggleHtmlView() {
      if (this.currentMode === 'visual') {
        this.currentMode = 'html'
        this.htmlContent = this.$refs.visualView.innerHTML
        //this.$refs.htmlView.innerHTML = this.$refs.visualView.innerHTML
      } else {
        this.currentMode = 'visual'
        //this.$refs.visualView.innerHTML = this.$refs.htmlView.innerHTML
      }
    },

    // Link Popup
    openInsertLinkPopup() {
      this.currentSelection = this.saveSelection()
      if (this.currentSelection === null) {
        this.setEndOfContenteditable()
        this.currentSelection = this.saveSelection()
      }

      const node = this.getSelectionStartNode()
      if (node.tagName.toLowerCase() === 'a') {
        this.insertLinkFormData.url.value = node.getAttribute('href')
      }
      this.showInsertLinkPopup = true
    },
    clearInsertLinkForm() {
      this.insertLinkFormData.url.value = undefined
      this.insertLinkFormData.url.message = undefined
    },
    validateInsertLinkForm() {
      let result = true
      this.insertLinkFormData.url.message = undefined
      if (
        !this.insertLinkFormData.url.value ||
        this.insertLinkFormData.url.value.length === 0
      ) {
        this.insertLinkFormData.url.message = errorMessage.FIELD_CANNOT_EMPTY
        result = false
      }
      return result
    },
    submitInsertLinkForm() {
      if (!this.validateInsertLinkForm()) return
      this.restoreSelection(this.currentSelection)
      this.showInsertLinkPopup = false
      this.execCommand('createLink', this.insertLinkFormData.url.value)
      this.clearInsertLinkForm()
    },
    cancelInsertLinkPopup() {
      this.clearInsertLinkForm()
      this.currentSelectedNode = null
      this.showInsertLinkPopup = false
    },

    // Image Popup
    openInsertImagePopup() {
      this.currentSelection = this.saveSelection()
      if (this.currentSelection === null) {
        this.setEndOfContenteditable()
        this.currentSelection = this.saveSelection()
      }

      const node = this.getSelectionStartNode()
      if (node.tagName.toLowerCase() === 'img') {
        this.insertImageFormData.src.value = node.getAttribute('src')
      }

      this.showInsertImagePopup = true
    },
    openModifyImagePopup(node) {
      this.currentSelection = this.saveSelection()
      if (this.currentSelection === null) {
        this.$refs.visualView.focus()
        this.currentSelection = this.saveSelection()
      }

      this.insertImageFormData.src.value = node.getAttribute('src')
      this.insertImageFormData.width.value = node.style.width
      this.insertImageFormData.height.value = node.style.height

      this.showInsertImagePopup = true
    },
    clearInsertImageForm() {
      this.$refs.inputFileImage.value = ''
      this.insertImageFormData.status.uploading = false
      this.insertImageFormData.status.progress = 0
      this.insertImageFormData.file.value = undefined
      this.insertImageFormData.file.message = undefined
      this.insertImageFormData.src.value = undefined
      this.insertImageFormData.src.message = undefined
      this.insertImageFormData.width.value = 'auto'
      this.insertImageFormData.width.message = undefined
      this.insertImageFormData.height.value = 'auto'
      this.insertImageFormData.height.message = undefined
    },
    validateInsertImageForm() {
      let result = true
      this.insertImageFormData.src.message = undefined
      if (
        !this.insertImageFormData.src.value ||
        this.insertImageFormData.src.value.length === 0
      ) {
        this.insertImageFormData.src.message = errorMessage.FIELD_CANNOT_EMPTY
        result = false
      }
      return result
    },
    submitInsertImageForm() {
      if (!this.validateInsertImageForm()) return

      this.insertImageFormData.width.value =
        this.insertImageFormData.width.value || 'auto'
      this.insertImageFormData.height.value =
        this.insertImageFormData.height.value || 'auto'

      if (!this.currentSelectedNode) {
        this.restoreSelection(this.currentSelection)
        const html = `<img src="${this.insertImageFormData.src.value}" style="width: ${this.insertImageFormData.width.value}; height: ${this.insertImageFormData.height.value};" />`
        this.showInsertImagePopup = false
        this.execCommand('insertHtml', html)
        this.clearInsertImageForm()
      } else {
        this.currentSelectedNode.setAttribute(
          'src',
          this.insertImageFormData.src.value
        )
        this.currentSelectedNode.style.width = this.insertImageFormData.width.value
        this.currentSelectedNode.style.height = this.insertImageFormData.height.value
        this.showInsertImagePopup = false
        this.clearInsertImageForm()
        this.currentSelectedNode = null
      }
      this.$emit('input', this.$refs.visualView.innerHTML)
    },
    cancelInsertImagePopup() {
      this.clearInsertImageForm()
      this.currentSelectedNode = null
      this.showInsertImagePopup = false
    },
    validateImageFileType(file) {
      let result = false
      const fileExtension = path.extname(file.name).toLowerCase()
      for (let i = 0; i < this.uploadImageFileType.length; i++) {
        const ext = this.uploadImageFileType[i].toLowerCase()
        if (fileExtension === ext) {
          result = true
          break
        }
      }
      if (!result) {
        this.insertImageFormData.file.message = errorMessage.FILE_TYPE_NOT_ALLOW
      }
      return result
    },
    validateImageFileSize(file) {
      const result = file.size <= this.maxImageUploadSize
      this.insertImageFormData.file.message = undefined
      if (!result) {
        this.insertImageFormData.file.message = errorMessage.FILE_SIZE_EXCEED
      }
      return result
    },
    uploadImageFile(e) {
      if (!this.validateImageFileType(e.target.files[0])) return
      if (!this.validateImageFileSize(e.target.files[0])) return
      this.insertImageFormData.status.uploading = true
      this.insertImageFormData.status.progress = 0
      this.insertImageFormData.file.value = e.target.files[0]
      const formData = new FormData()
      formData.append(this.uploadImageFieldName, e.target.files[0])

      let authCookie = this.getCookie(this.authCookieName)
      authCookie = authCookie.replace('Bearer%20', '')

      axios
        .post(this.uploadImageApi, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Authorization: `Bearer ${authCookie}`
            //Authorization: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0IiwianRpIjoiODY0NWYwYTgtMjM5NS00MWMwLThlYzUtMjk5N2RkZDBiNzIyIiwicmVtIjoiVHJ1ZSIsInJmdCI6ImE5ZWUyMWM3YTcxZWQ3NTFlZGVkY2U5MThiNGJhZDI4IiwiZXhwIjoxNjE4MDAwMzI5LCJpc3MiOiJQVFRPUiBBUEkiLCJhdWQiOiJQVFRPUiBTeXN0ZW0gVXNlciJ9.FPaLbHvro0utqi4LSz5GVoYPEwOrNPSDJnX60hPvcJQ`
          },
          onUploadProgress: function(progressEvent) {
            this.insertImageFormData.status.progress = Math.round(
              (progressEvent.loaded / progressEvent.total) * 100
            )
          }.bind(this)
        })
        .then(response => {
          if (response.data.success) {
            this.insertImageFormData.src.value = response.data.link
          } else {
            this.insertImageFormData.file.message = response.data.message
          }
          this.insertImageFormData.status.uploading = false
          this.insertImageFormData.status.progress = 0
          this.$refs.inputFileImage.value = ''
        })
        .catch(e => {
          this.insertImageFormData.src.value = e.response
            ? e.response.data.message
            : e.message
        })
    },

    // Video Popup
    openInsertVideoPopup() {
      this.currentSelection = this.saveSelection()
      if (this.currentSelection === null) {
        this.setEndOfContenteditable()
        this.currentSelection = this.saveSelection()
      }

      const node = this.getSelectionStartNode()
      if (node.tagName.toLowerCase() === 'embed') {
        this.insertVideoFormData.src.value = node.getAttribute('src')
      }

      this.showInsertVideoPopup = true
    },
    openModifyVideoPopup(node) {
      this.currentSelection = this.saveSelection()
      if (this.currentSelection === null) {
        this.$refs.visualView.focus()
        this.currentSelection = this.saveSelection()
      }

      this.insertVideoFormData.src.value = node.getAttribute('src')
      this.insertVideoFormData.width.value = node.style.width
      this.insertVideoFormData.height.value = node.style.height

      this.showInsertVideoPopup = true
    },
    clearInsertVideoForm() {
      this.$refs.inputFileVideo.value = ''
      this.insertVideoFormData.status.uploading = false
      this.insertVideoFormData.status.progress = 0
      this.insertVideoFormData.file.value = undefined
      this.insertVideoFormData.file.message = undefined
      this.insertVideoFormData.src.value = undefined
      this.insertVideoFormData.src.message = undefined
      this.insertVideoFormData.width.value = 'auto'
      this.insertVideoFormData.width.message = undefined
      this.insertVideoFormData.height.value = 'auto'
      this.insertVideoFormData.height.message = undefined
    },
    validateInsertVideoForm() {
      let result = true
      this.insertVideoFormData.src.message = undefined
      if (
        !this.insertVideoFormData.src.value ||
        this.insertVideoFormData.src.value.length === 0
      ) {
        this.insertVideoFormData.src.message = errorMessage.FIELD_CANNOT_EMPTY
        result = false
      }
      return result
    },
    submitInsertVideoForm() {
      if (!this.validateInsertVideoForm()) return

      this.insertVideoFormData.width.value =
        this.insertVideoFormData.width.value || 'auto'
      this.insertVideoFormData.height.value =
        this.insertVideoFormData.height.value || 'auto'

      if (!this.currentSelectedNode) {
        if (this.validateYouTubeUrl(this.insertVideoFormData.src.value)) {
          this.restoreSelection(this.currentSelection)
          const html = `<iframe src="${this.insertVideoFormData.src.value}" frameborder="0" allowfullscreen style="width: ${this.insertVideoFormData.width.value}; height: ${this.insertVideoFormData.height.value};"></iframe>`
          this.showInsertVideoPopup = false
          this.execCommand('insertHtml', html)
          this.clearInsertVideoForm()
        } else {
          this.restoreSelection(this.currentSelection)
          const html = `<video src="${this.insertVideoFormData.src.value}" style="width: ${this.insertVideoFormData.width.value}; height: ${this.insertVideoFormData.height.value};" />`
          this.showInsertVideoPopup = false
          this.execCommand('insertHtml', html)
          this.clearInsertVideoForm()
        }
      } else {
        this.currentSelectedNode.setAttribute(
          'src',
          this.insertVideoFormData.src.value
        )
        this.currentSelectedNode.style.width = this.insertVideoFormData.width.value
        this.currentSelectedNode.style.height = this.insertVideoFormData.height.value
        this.showInsertVideoPopup = false
        this.clearInsertVideoForm()
        this.currentSelectedNode = null
      }
      this.$emit('input', this.$refs.visualView.innerHTML)
    },
    cancelInsertVideoPopup() {
      this.clearInsertVideoForm()
      this.currentSelectedNode = null
      this.showInsertVideoPopup = false
    },
    validateVideoFileType(file) {
      let result = false
      const fileExtension = path.extname(file.name).toLowerCase()
      for (let i = 0; i < this.uploadVideoFileType.length; i++) {
        const ext = this.uploadVideoFileType[i].toLowerCase()
        if (fileExtension === ext) {
          result = true
          break
        }
      }
      if (!result) {
        this.insertVideoFormData.file.message = errorMessage.FILE_TYPE_NOT_ALLOW
      }
      return result
    },
    validateVideoFileSize(file) {
      const result = file.size <= this.maxVideoUploadSize
      this.insertVideoFormData.file.message = undefined
      if (!result) {
        this.insertVideoFormData.file.message = errorMessage.FILE_SIZE_EXCEED
      }
      return result
    },
    uploadVideoFile(e) {
      if (!this.validateVideoFileType(e.target.files[0])) return
      if (!this.validateVideoFileSize(e.target.files[0])) return
      this.insertVideoFormData.status.uploading = true
      this.insertVideoFormData.status.progress = 0
      this.insertVideoFormData.file.value = e.target.files[0]
      const formData = new FormData()
      formData.append(this.uploadVideoFieldName, e.target.files[0])

      let authCookie = this.getCookie(this.authCookieName)
      authCookie = authCookie.replace('Bearer%20', '')

      axios
        .post(this.uploadVideoApi, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Authorization: `Bearer ${authCookie}`
            //Authorization: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0IiwianRpIjoiODY0NWYwYTgtMjM5NS00MWMwLThlYzUtMjk5N2RkZDBiNzIyIiwicmVtIjoiVHJ1ZSIsInJmdCI6ImE5ZWUyMWM3YTcxZWQ3NTFlZGVkY2U5MThiNGJhZDI4IiwiZXhwIjoxNjE4MDAwMzI5LCJpc3MiOiJQVFRPUiBBUEkiLCJhdWQiOiJQVFRPUiBTeXN0ZW0gVXNlciJ9.FPaLbHvro0utqi4LSz5GVoYPEwOrNPSDJnX60hPvcJQ`
          },
          onUploadProgress: function(progressEvent) {
            this.insertVideoFormData.status.progress = Math.round(
              (progressEvent.loaded / progressEvent.total) * 100
            )
          }.bind(this)
        })
        .then(response => {
          if (response.data.success) {
            this.insertVideoFormData.src.value = response.data.link
          } else {
            this.insertVideoFormData.file.message = response.data.message
          }
          this.insertVideoFormData.status.uploading = false
          this.insertVideoFormData.status.progress = 0
          this.$refs.inputFileVideo.value = ''
        })
        .catch(e => {
          this.insertVideoFormData.src.value = e.response
            ? e.response.data.message
            : e.message
        })
    },
    validateYouTubeUrl(url) {
      if (url !== undefined && url !== null && url !== '') {
        // eslint-disable-next-line no-useless-escape
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/
        var match = url.match(regExp)
        if (match && match[2].length == 11) {
          return true
        } else {
          return false
        }
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss">
.vue2-html-editor {
  position: relative;
  font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  width: 100%;
  min-height: 300px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &--can-resize {
    resize: vertical;
    overflow: auto;
  }

  &__toolbar {
    width: 100%;

    &.disabled {
      cursor: not-allowed;
    }

    &__line {
      margin: 0 8px;
      padding: 8px 0;
      border-bottom: 1px solid #efefef;

      &.disabled {
        pointer-events: none;
      }

      button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: #333333;
        background-color: #ffffff;
        border: 0;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        line-height: 1;
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;

        &:hover {
          background-color: #ebebeb;
        }

        &.has-separator {
          margin-right: 24px;
        }

        &.active {
          color: #0098f7;

          svg {
            fill: #0098f7;
          }
        }
      }
    }
  }

  &__content-area {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &--visual-view {
      height: calc(100% - 30px);
      outline: none;
      margin: 15px 12px;

      p {
        margin: 12px 0;
      }

      a {
        color: #0095ff;
        cursor: pointer;
        border: 1px dotted #0095ff;
        display: inline-block;
      }

      img {
        cursor: pointer;
        display: inline-block;
      }

      iframe {
        cursor: pointer;
        pointer-events: none;
      }

      video {
        cursor: pointer;
      }
    }

    &--html-view {
      height: 100%;

      textarea {
        outline: none;
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        padding: 0;
      }
    }
  }

  &__popup {
    display: flex;
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;

    &.opened {
      visibility: visible;
      opacity: 1;
    }

    .popup {
      width: 320px;
      min-width: 320px;
      height: 140px;
      min-height: 140px;
      color: #222222;
      background: #ffffff;
      -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%),
        0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
      -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
        0 1px 18px 0 rgb(0 0 0 / 12%);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      text-align: left;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      z-index: 20;
      display: flex;
      flex-direction: column;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;

      &.disabled {
        pointer-events: none;
        opacity: 0.8;
      }

      &__title {
        background-color: #f5f5f5;
        padding: 12px;
        font-weight: 600;
      }

      &__body {
        padding: 12px;
        overflow-y: auto;
        flex-grow: 1;

        &__form {
          button {
            cursor: pointer;
            padding: 4px 12px;
            color: #0098f7;
            background-color: #ffffff;
            border: 1px solid #0098f7;
            min-width: 64px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
          }

          &--row {
            display: flex;
          }

          div[class*='--col-'] {
            margin: 0 8px;
          }

          &--col-3 {
            width: 100%;
          }

          &--col-2 {
            width: 50%;
          }

          &--col-1 {
            width: 33.33%;
          }

          .form-field {
            &__message {
              font-size: 11px;
              color: red;
              padding-top: 4px;
            }
          }

          .form-field--image {
            margin-top: 16px;
            margin-bottom: 16px;
            padding-top: 8px;

            label {
              color: #808080;
            }

            input[type='file'] {
              display: none;
            }

            &__control {
              display: flex;
              justify-content: center;
              align-items: center;

              &__notice {
                font-size: 11px;
                color: #808080;
                padding: 8px 8px 0 0;
              }

              &__uploader {
                width: 50%;
                flex-grow: 0;
                flex-shrink: 0;
              }

              &__previewer {
                width: 50%;
                flex-grow: 0;
                flex-shrink: 0;
              }

              &__progress {
                width: 80px;
                margin-left: auto;
                margin-right: auto;

                &__runner {
                  height: 4px;
                  background-color: #0098f7;
                }
              }

              &__image-container {
                width: 80px;
                height: 80px;
                margin-left: auto;
                margin-right: auto;
                background-color: #f5f5f5;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                img {
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }

          .form-field--video {
            margin-top: 16px;
            margin-bottom: 16px;
            padding-top: 8px;

            label {
              color: #808080;
            }

            input[type='file'] {
              display: none;
            }

            &__control {
              display: flex;
              justify-content: center;
              align-items: center;

              &__notice {
                font-size: 11px;
                color: #808080;
                padding: 8px 8px 0 0;
              }

              &__uploader {
                width: 50%;
                flex-grow: 0;
                flex-shrink: 0;
              }

              &__previewer {
                width: 50%;
                flex-grow: 0;
                flex-shrink: 0;
              }

              &__progress {
                width: 160px;
                margin-left: auto;
                margin-right: auto;

                &__runner {
                  height: 4px;
                  background-color: #0098f7;
                }
              }

              &__video-container {
                width: 160px;
                height: 120px;
                margin-left: auto;
                margin-right: auto;
                background-color: #f5f5f5;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                video {
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }

          .form-field--checkbox {
            margin-top: 16px;
            margin-bottom: 16px;
            padding-top: 8px;

            label {
              color: #808080;
            }

            input {
              border: 1px solid #cccccc;
              margin-right: 12px;
            }
          }

          .form-field--text {
            position: relative;
            margin-bottom: 16px;

            label {
              position: absolute;
              top: 10px;
              left: 4px;
              padding: 0 6px;
              font-size: 12px;
              color: #808080;
              background-color: #ffffff;
            }

            input {
              width: calc(100% - 16px);
              padding: 12px 8px;
              border: 1px solid #cccccc;
              border-radius: 2px;
              -moz-border-radius: 2px;
              -webkit-border-radius: 2px;
              margin-top: 16px;

              &:focus {
                outline: none !important;
                border-color: #0098f7;
              }
            }
          }
        }
      }

      &__button {
        padding: 12px;
        text-align: right;
        border-top: 1px solid #efefef;

        button {
          cursor: pointer;
          padding: 4px 12px;
          color: #0098f7;
          background-color: #ffffff;
          border: 1px solid #0098f7;
          min-width: 64px;
          margin-left: 12px;
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
        }

        &--ok {
          color: #ffffff !important;
          background-color: #0098f7 !important;
          border: 1px solid #0098f7 !important;
        }

        &--remove {
          color: #ffffff !important;
          background-color: #dc3545 !important;
          border: 1px solid #dc3545 !important;
        }
      }
    }
  }

  &__popup--insert-link {
    .popup {
      width: 300px;
      height: 200px;
    }
  }

  &__popup--insert-image {
    .popup {
      width: 300px;
      height: 280px;
    }
  }

  &__popup--insert-video {
    .popup {
      width: 400px;
      height: 280px;
    }
  }
}
</style>
